
body 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    width: 100%;
    height: 45px;
}
.entete
{
    display: flex;
}

button
{
    border: none;
    background-color: white;
    padding: 0;
}
.menu
{
    width: 15px;
    height: 10px; 
    padding: 0;   
}
.menu-parent
{
    margin: 20px 0 0 20px;
    padding: 0;
    width: 15px;
    height: 10px;
    cursor: pointer; 
}
.Accueilyoutube
{
    width: 80px;
    height: 42px;
    
}
.Accueilyoutube-parent
{
    margin: 3px 0 0 20px;
    padding: 0;
    height: 40px;
    cursor: pointer;
}
.search
{
    height: 10px;
    width: 445px;
    padding: 5px;
    margin: 10px 0 0 260px;
}
.search-parent
{
    height: 24px;
    width: 50px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(198, 198, 198);
    cursor: pointer;   
}
.search-parent:hover
{
    background-color: rgb(240, 240, 240);
}
.recherche
{
    height: 10px;
    width: 12px;   
}
.video-parent
{
    height: 20px;
    width: 20px;
    margin: 15px 0 0 240px;
    cursor: pointer;
}
.video
{
    height: 15px;
    width: 17px;
}
.unic-parent
{
    margin: 15px 0 0 22px;
    padding: 0;
    width: 15px;
    height: 17px;
    cursor: pointer;  
}
.application
{
    width: 13px;
    height: 13px;
}
.message
{
    width: 13px;
    height: 15px;
}
.notification
{
    width: 15px;
    height: 17px;
}
.profil-parent
{
    margin: 15px 0 0 22px;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.profil
{
    width: 20px;
    height: 20px; 
}

/*aside*/

aside
{
    width: 190px;
    height: 1000px;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}
aside:hover
{
    overflow-y: scroll;
}
.section-one
{
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 10px;
}
.section01
{
    width: 15px;
    margin-left: 20px;
}
.text
{
    margin-left: 25px;
    font-size: 12px;
    color: rgb(10, 10, 10);
}
.section-parent01
{
    width: 100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    margin-top: 05px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.section-parent01:hover
{
    background-color: rgb(198, 198, 198);
}
.section-parent
{
    width: 100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.section-parent:hover
{
    background-color: rgb(198, 198, 198);   
}
.title01
{
    font-size: 12px;
    color: rgb(130, 130, 130);
    margin-left: 20px;
}
.section02
{
    border-radius: 60px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.para
{
    color: rgb(10, 10, 10);
    font-size: 10px;
    margin-left: 20px;
    line-height: 14px;
    cursor: pointer;
    text-decoration: none; 
      
}
.para02
{
    color: rgb(180, 180, 180);
    font-size: 10px;
    margin-left: 20px;
    margin-top: 30px;
}